@CHARSET "ISO-8859-1";

body {
	background-color: #f4eee7;
}

div {
	position: relative;
}

div.select {
	background-color: lightgrey;
	margin-right: 150px;
}

div.pics {
	top: 10px;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 20px;
}

table {
	position: relative;
	left: 200px;
	width: 50%;
}

div.desc {
	text-align: center;
	font-weight: normal;
	width: 120px;
	margin: 5px;
}

div.menu {
	float: left;
	margin: 10px;
	background-color: silver;
}

form {
	float: left;
	margin-right: 100%;
}

div.container {
	
}

section {
	
}

section.head {
	
}

section.input {
	
}

section.body {
	
}

div.nav {
	margin: 15px;
}

#menu {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #012c51;
	border-bottom: 3px solid #097abb;
	border-top: 3px solid #097abb;
}

#menu ul {
	list-style-type: none;
	width: 800px;
	margin: 0 auto;
	padding: 0;
	box-sizing: inherit;
}

#menu li {
	box-sizing: inherit;
	float: left;
}

#menu li a {
	display: block;
	padding: 8px 15px; /*10px 50px 10px 50px;*/
	text-decoration: none;
	font-weight: bold;
	color: #E6E6FA;
	border-right: 1px solid #ccc;
}

#menu li:first-child a {
	border-left: 1px solid #ccc;
}

#menu li a:hover {
	background-color: #097abb;
	color: #012c51;
}

img.icon {
	height: 34px;
}

#ucmlogo {
	border-radius: 25px;
	width: 100%;
	height: 200px;
	z-index: 999;
	background-image: url(imgs/cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.myWrapper {
	max-width: 660px;
	margin: 0 0;
}

.logo {
	display: inline-block;
	width: 50px;
	height: 20px;
	margin-top: 5px;
	background-size: auto 50px;
	background-repeat: no-repeat;
}

img.icon {
	height: 34px;
}

#ucmlogo {
	position: relative;
	border-radius: 25px;
	left: 7.5%;
	width: 85%;
	height: 360px;
	z-index: 999; //
	background-image: url(imgs/cover.jpg); //
	background-repeat: no-repeat; //
	background-size: cover;
}

img.cover {
	border-radius: 25px;
	width: 100%;
	height: 370px;
	z-index: 999;
}

.myWrapper {
	max-width: 660px;
	margin: 0 0;
}

.logo {
	display: inline-block;
	width: 50px;
	height: 20px;
	max-width: 50px;
	margin-top: 5px;
	background-size: auto 50px;
	background-repeat: no-repeat;
}

img.ucmlogo {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0px;
	left: 0px;
}

img.responsive {
	max-width: 48%;
	height: auto;
}

section.bluetop {
	background-color: rgb(1, 44, 81);
}
