

body {
	background-color: rgb(1, 44, 81);
	margin: auto;

	max-width: 100%;
	/*
	//background-color:#f4eee7;    //pinkish
	////background-color:#6a9291; 	//grey/blue
    ////background-color: #E6E6FA; 	//sandy brown
	*/
}
.stretch{
	display: table-cell;
}
#section3{
	margin:0;
}
#scrapedInfo{
	margin:0;
	
}
#scrapedInfo div {
	display: table-cell;
}


#pageScrape{
	text-align:center;
}
.purplee{
	background-color:#E6E6FA;
	margin:none;
}
table{
	margin:auto;
	border: 2px solid;
	cursor: default;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}
div {
	
	height: 100%;
	//margin: 0px auto;
}

.content {
	background-color: #f4eee7;
	border: 2px solid;
	border-color: rgb(195, 219, 231);
	color: #222;
	font-size: 16px;
	line-height: 22.4px;
	padding: 20px; //
	margin:auto;
	//max-width: 70%;
	//min-width: 210px;
	text-align: center;
}

section.footer {
	float: left;
	height: 62px;
	width: 100%;
	background-color: #071E3D;		//#rrggbb
	z-index: 99;
}

section.container {
	height: 100%;
	max-width: 1900px;
	margin: 0px auto;
}

img.blumcenter {
	position: static;
	width: 120px;
	height: 60px;
	margin-right: 10px;
}

img {
	display: block;
	//margin: auto;
	//height: auto;
	max-height:100%;
	width: auto;
	max-width: 100%;
}

img.main { //
	display: block;
	margin: auto;
	height: auto:
	max-height:100%;
	width: auto;
	max-width: 100%;
}

div.body {
	background-color: lightgrey; //
	max-width: 450px; //
	min-width: 250px;
	padding: 25px;
	margin: auto;
	max-width: 75%;
	min-width: 35%;
}


#infobar {
	display:table-cell;
	background-color: #E6E6FA;
	padding: 22px;
	//width: 160px;
	//max-width: 200px;
	min-width: 168.967px;
}

p {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 20px;
}

div.foot { //
	position: absolute;
	float: right; //
	top: 100%;
	width: 130px;
	height: 60px;
}

ul {
	list-style: outside none none;
	//width: auto;
	//max-width: 1000px;
}

li.days { //
	box-sizing: border-box;
	width: auto; //
	min-height: 249px;
	margin-bottom: 20px;
}

img.thumbnail {
	float: left; //
	float: right;
	box-sizing: inherit;
	width: auto;
	max-width: 600px;
	height: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;

}


.myMenuRow{
	width: 100%;
	display: table;
	background-color: #012c51;
	border-bottom: 3px solid #097abb;
	border-top: 3px solid #097abb;
	color: #FFFFFF;
}
.myMenuElement{
	float: none;
	display: table-cell;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto box-sizing: inherit;
	box-sizing: inherit;
	padding: 8px 16px; /*10px 50px 10px 50px;*/
	border-right: 1px solid #ccc;

	//display:inline-block;
	text-align:center;
	color: #FFFFFF;
vertical-align: center;

}
span {
  display: table-cell;
  //vertical-align: middle;
}
div.myMenuElement:hover{
		background-color: #097abb;	//lighter blue
		color: #012c51;							//text turns dark blue
}
div.myMenuElement a{
	display:inline-block;
	text-align:center;
	color: #FFFFFF;
}

#menu {
	width: 100%;
	//float: left;
	display: block; //
	margin-left: auto; //
	margin-right: auto;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #012c51;
	border-bottom: 3px solid #097abb;
	border-top: 3px solid #097abb;
}
#menu ul {	//does not center nicely, because, does not render height or width

	list-style-type: none;
	//width: 600px; //
	width: auto;
	display: block; //
	margin-left: auto; //
	margin-right: auto; //
	//float: center;
	margin: 0 auto;
	padding: 0;
	box-sizing: inherit;
}

h2 {
	color: #097abb;
	margin:0px;

}
/*
#menu div {					//center "ul"
	margin-left: auto; //
	margin-right: auto; //
	box-sizing: inherit;
}
*/
#menu li {
	display: grid;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto box-sizing: inherit;
	//float: left;
	box-sizing: inherit;
}

#menu li a {
	display: block;
	padding: 8px 16px; /*10px 50px 10px 50px;*/
	text-decoration: none;
	font-weight: bold;
	color: #E6E6FA;
	border-right: 1px solid #ccc;

}

#menu li:first-child a {
	border-left: 1px solid #ccc;
}

#menu li a:hover {
	background-color: #097abb;	//lighter blue
	color: #012c51;							//text turns dark blue
}

table, th, td {
	text-align: center;
}

tr.Excellent {
	background-color: rgb(0, 255, 0);
}

tr.Good {
	background-color: rgb(255, 255, 0);
}

tr.Fair {
	background-color: rgb(255, 102, 0);
}

tr.Poor {
	background-color: rgb(255, 0, 0);
}

tr.VeryPoor {
	background-color: rgb(153, 0, 76);
}

tr.Hazardous {

}

img.icon {
	height: 34px;
}

#ucmlogo {
	border-radius: 25px;
	left: 7.5%;
	height: auto;
	width: auto;
	max-width: 85%;
	max-height: 360px;
	z-index: 999;
	//margin-bottom: 70px; //
	background-image: url(imgs/cover.jpg); //
	background-repeat: no-repeat; //
	background-size: cover;
	margin-left:auto;
	margin-right:auto;
}
#cover{
	//height: auto;
	//width: auto;
	max-width: 491.467;
	max-height:360;
}
img.cover { 
	height: auto;
	width: auto;
	min-height:230px;
	min-width:230px;
	margin: 0px auto;
	border-radius: 25px;
	z-index: 999;
}

.myWrapper {
	max-width: 660px;
	margin: 0 0;
}

.logo {
	display: inline-block;
	width: 50px;
	height: 20px;
	max-width: 50px;
	margin-top: 5px;
	background-size: auto 50px;
	background-repeat: no-repeat;
}

img.ucmlogo {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0px;
	left: 0px;
}
#page-header{
height: 60px;

}
section.bluetop {
	background-color: rgb(1, 44, 81);
}
#image-menu-top{
//position:absolute;
//top:100px;

}

marquee {
	background-color: #0a2e5d;
	color: #FFFFFF;
	width: 200%;
	padding: 20px 20px 20px 20px;
	font-family: Calibri;
}

p {
	display: block;
}
#calendar{
	display: inline;
	margin: 0;
	
}